* {
    margin: 0;
    padding: 0;
}

main {
    border: 1px solid;
    height: 800px;
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

#content {
    border: 1px solid red;
    height: 100%;
    width: 25%;
}

main aside {
    border: 1px solid yellow;
    height: 100%;
    flex-grow: 1;
}