<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container">
    <%- include('../partials/header', {pagina: 'About'}); %>
    <main>
      <div class="h-100 p-5 bg-light border rounded-3">
        <h1>Sobre mim</h1>
        <p>Ola, esse é meu primeiro EJS</p>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
